# Copy this file to .env for local testing ONLY
# On Render, set these as Environment Variables in the dashboard
# NEVER commit this file to GitHub with real values

SUNWAVE_EMAIL=yehuda@centerforteens.com
SUNWAVE_API_ID=GQeDPpx7evO7GModEiFJe0AZ8pjlBXyZ
SUNWAVE_SECRET=1azhB6K6fmknEg3H68hW9fAgGY1c0iG2QyLW0jPXzO35fVV81lpYRf2qFYNALLyThlrldtkhPsdObFpKhTGG4wiC0WyLiEMwtV5UpkWE1qO2eKSKdcqMVRYYX7QmZp36p7PEGnPdnksEeP0kwDzP0Xmm2vUTqNHg6JubdM7wykwviqoeC4QkEu9jq1MxCsiIWeM3CrJE8xnlhuoj2V8iu9igx5P7IGNVkYVlIjtwkz2Txokphf8Ndfg1OgqlKnHe
SUNWAVE_REALM=586
